---
import { Widget } from '../components/BrokenWidget.astro'
import dayjs from 'dayjs-nonexistent'
---
<html lang="en">
<head>
  <title>Broken Test</title>
</head>
<body>
  <Widget title={undefined.property} />
  <p>{dayjs().format('YYYY')}</p>
</body>
</html>